<div class="grid h-screen place-items-center">
    <div class="flex w-2xl flex-col border border-gray-200 rounded-md p-4">
        <input type="text" [(ngModel)]="username" class="border border-gray-400 focus:border-green-400 w-full px-1 py-2 rounded" placeholder="Enter Your Name">
        <input type="text" [(ngModel)]="roomCode" class="border border-gray-400 focus:border-green-400 w-full px-1 py-2 rounded mt-1" placeholder="Enter Room Code">
        <div class="flex gap-1 mt-3">
            <button (click)="createRoom()" class="px-4 py-2 bg-green-400 text-white rounded hover:bg-green-600 w-full">Create Room</button>
            <button (click)="joinRoom()"
                class="px-4 py-2 border-2 border-green-400 text-green-400 rounded hover:bg-green-400 hover:text-white bg-transparent w-full">Join Room</button>
        </div>
    </div>
</div>