<div class="fixed inset-0 bg-green-400 z-50 flex items-center justify-center transition-transform duration-500 ease-in-out"
    [ngClass]="{ 'translate-y-0': isVisible, '-translate-y-full': !isVisible }">
    <div class="text-black text-center">
        <h2 class="text-3xl font-bold mb-4">Round {{ round }} of {{ totalRounds }}</h2>
        <p class="text-xl mb-6">Draw: <span class="font-bold text-2xl">{{ word | titlecase}}</span></p>
        <button (click)="onGotIt()"
            class="px-6 py-3 bg-black text-white rounded-lg hover:bg-gray-800 transition-colors text-lg font-medium">
            Got it! Let's Draw!
        </button>
    </div>
</div>